body{
    margin: 0%;
    padding: 0%; 
    background-color: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;  
}
.div_header{
display:flex;
}

.div_header_logo{
text-align: center;
align-self: center;
border: 1px solid pink;
width: 30%;
}

.div_header_nav{
border: 1px solid blue;
width: 70%;
}

.div_header_nav ul {
    list-style-type: none;
    text-align: center;
}

.div_header_nav ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color:  #464646;
}

.div_presentacion{
    display: flex;
}

.div_presentacion_texto{
width: 50%;
align-self: center;
}

.div_presentacion_texto ul {
    list-style-type: none;  
}

.div_presentacion_texto ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
}
.contenido_hobbies_texto{
 position: relative;
 left:20%; 
 display: flex;
 flex-wrap: wrap ;  
}

.div_presentacion_img{
width: 50%;
text-align: center;
align-self: center;
}

.imgphoto{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


.div_sobremi{
    background-color: #EAF2FD;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    
    
}
.div_sobremi_texto{
    width: 500px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
   align-self: center;
   text-align: justify;
   position: relative;
   left:12%;
}

.div_skillyhobbies{
display: flex;
flex-direction: column;
align-items: center;
}

.div_skills,.div_hobbies{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    position: relative;
    left:2%; 
}
.skills,.hobbies{
width: 200px;
height: 180px;
background-color: white;
margin-left: 20px;
margin-bottom: 15px;
text-align: center;

}

.skills i{
 font-size: 50px;
 color: #2A7AE4; 
}
.skills p,i{
    position: relative;
    top: 50%;
}


.div_educacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF2FD;;
}

.div_educacion_escuela{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}

.div_educacion_escuela img{
    width: 250px;
    height: 250px;
}

.div_experiencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_experiencia_uno{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;

}
.div_experiencia_uno .div_experiencia_uno_juegoahorcado img{
width: 600px;
height: 400px;
}

.textojuego{
    margin-left: 2%;
    align-self: center;
}

.btnrepo{
    color: #2A7AE4;
    width: 100px;
    height: 40px;
    border: 1px solid #2A7AE4;
}

.btndemo{
  background-color: #2A7AE4;
  color: #FFFFFF;
  width: 100px;
  height: 40px;
  border: 1px solid #2A7AE4;  
}

.divform{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid blue;
    justify-content: center;
    background-color: #EAF2FD;
}

.divtel, .divcontacto{ 
    border: 1px solid black;
}

.divtel img{
    width: 100%;
    height: 100%;    
}

.divcontacto{
    margin-left: 1%;
}

input{
    display: block;
    width: 80%;
    height: 40px;
    margin-top: 20px;
    border: none;
    outline: none;
}
input:hover{
    border: 1px solid #2A7AE4;
}
textarea:hover{
    border: 1px solid #2A7AE4; 
}

input::placeholder{
    position: relative;
    bottom: 10px;
}
textarea{
    display: block;
    width: 80%;
    height: 110px;
    margin-top: 20px;
    outline: none;
}

.btnprop{
    display: block;
    margin-top: 20px;
    background-color: #2A7AE4;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    border: 1px solid #2A7AE4;  
    }
    