body{
    margin: 0%;
    padding: 0%; 
    background-color: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;  
}
.div_header{
display:flex;
}

.div_header_logo{
text-align: center;
align-self: center;
width: 30%;
}

.div_header_nav{
width: 70%;
}

.div_header_nav ul {
    list-style-type: none;
    text-align: center;
}

.div_header_nav ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color:  #464646;
}

.div_presentacion{
    display: flex;
}

.div_presentacion_texto{
width: 50%;
align-self: center;
}

.div_presentacion_texto ul {
    list-style-type: none;  
}

.div_presentacion_texto ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
}
.contenido_hobbies_texto{
 position: relative;
 left:20%; 
 display: flex;
 flex-wrap: wrap ;  
}

.div_presentacion_img{
width: 50%;
text-align: center;
align-self: center;
}

.imgphoto{
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}


.div_sobremi{
    background-color: #EAF2FD;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    
    
}
.div_sobremi_texto{
   width: 500px;
   height: 150px;
   align-self: center;
   text-align: justify;
   position: relative;
   left:12%;
}

.div_skillyhobbies{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.div_skills,.div_hobbies{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    left:2%; 
}
.skills,.hobbies{
   width: 200px;
   height: 180px;
   background-color: white;
   margin-left: 20px;
   margin-bottom: 15px;
   text-align: center;

}

.skills i{
 font-size: 50px;
 color: #2A7AE4; 
}
.skills p,i{
    position: relative;
    top: 50%;
}


.div_educacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF2FD;;
}

.div_educacion_escuela{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}

.div_educacion_escuela img{
    width: 250px;
    height: 250px;
}

.div_experiencias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.div_experiencia_uno{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.div_experiencia_uno_texto{
   align-self: center;
}

.div_experiencia_uno_img img{
    width: 800px;
    height: 400px;
}

.btnrepo{
    color: #2A7AE4;
    width: 100px;
    height: 40px;
    border: 1px solid #2A7AE4;
}

.btndemo{
  background-color: #2A7AE4;
  color: #FFFFFF;
  width: 100px;
  height: 40px;
  border: 1px solid #2A7AE4;  
}

.div_formulario{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    background-color: #EAF2FD;
    
}



.div_formulario_img img{
    width: 100%;
    height: 100%;    
}

.div_formulario_contacto{
    margin-left: 1%;
}

input{
    display: block;
    width: 80%;
    height: 40px;
    margin-top: 20px;
    border: none;
    outline: none;
}
input:hover{
    border: 1px solid #2A7AE4;
}

input::placeholder{
    position: relative;
    bottom: 10px;
}

textarea{
    display: block;
    width: 80%;
    height: 110px;
    margin-top: 20px;
    outline: none;
    resize: none;
}

textarea:hover{
    border: 1px solid #2A7AE4; 
}

.btnenviar{
    display: block;
    margin-top: 20px;
    background-color: #2A7AE4;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    border: 1px solid #2A7AE4;  
 }
    
.div_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div_footer_texto{
    text-align: center;
}
.div_footer .p_footer{
    position: relative;
    bottom: 20px;
}


@media screen and (max-width: 600px) {
   .div_header_nav{
    display: none;
   } 

   .div_presentacion{
    display: flex;
    flex-direction: column-reverse;
   }
   .div_presentacion_texto,.div_presentacion_img{
    width: 95%;
   }
   .contenido_hobbies_texto{
    left: auto;
    justify-content: center;
   }
   
   .div_sobremi{
    justify-content: center;
   }
   .div_sobremi_texto{
   left: auto;
    
   }
   .div_experiencia_uno_img img{
    width: 540px;
   }

   .div_formulario_img{
    display: none;
   }
  
   .div_formulario_contacto{
    display: flex;
    flex-direction: column;
   }

   input,textarea,button{
   width: 50%;
   }


  }