body{
    margin: 0%;
    padding: 0%; 
    background-color: #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;  
}
.div_header{
display:flex;
}

.logo{
text-align: center;
align-self: center;
border: 1px solid pink;
width: 30%;
}

.nav{
border: 1px solid blue;
width: 70%;
}

.nav ul {
    list-style-type: none;
    text-align: center;
}

.nav ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color:  #464646;
}

.hobbies{
    display: flex;
}

.hobbies_texto{
width: 50%;
align-self: center;
}

.contenido_hobbies_texto{
 position: relative;
 left:20%; 
 display: flex;
 flex-wrap: wrap ;  
}

.hobbies_img{
width: 50%;
text-align: center;
align-self: center;
}

.imgphoto{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.hobbies_texto ul {
    list-style-type: none;  
}

.hobbies_texto ul li{
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.divsobremi{
    background-color: #EAF2FD;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    
    
}
.contenidosobremi{
    width: 500px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
   align-self: center;
   text-align: justify;
   position: relative;
   left:12%;
}

.divskillhobbies{
display: flex;
flex-direction: column;
align-items: center;
}

.contenidoskill,.contenidohobbies{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    position: relative;
    left:2%; 
}
.skills,.chobbies{
width: 200px;
height: 180px;
background-color: white;
margin-left: 20px;
margin-bottom: 15px;
text-align: center;

}

.skills i{
 font-size: 50px;
 color: #2A7AE4; 
}
.skills p,i{
    position: relative;
    top: 50%;
}


.diveducacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAF2FD;;
}

.diveducaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
}


img{
    width: 250px;
    height: 250px;
}

.divexperiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiencia1{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;

}
.experiencia1 .juegoahorcado img{
width: 600px;
height: 400px;
}

.textojuego{
    margin-left: 2%;
    align-self: center;
}

.btnrepo{
    color: #2A7AE4;
    width: 100px;
    height: 40px;
    border: 1px solid #2A7AE4;
}

.btndemo{
  background-color: #2A7AE4;
  color: #FFFFFF;
  width: 100px;
  height: 40px;
  border: 1px solid #2A7AE4;  
}

.divform{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
    
}

.divtel, .divcontato{
    height: 400px;
}
.divtel img{
    width: 400px;
    height: 398px;
}


.btnprop{
display: block;
}


input{
    display: block;
    width: 60%;
    height: 30px;
    margin-top: 10px;
}
textarea{
    display: block;
    width: 60%;
    height: 60px;
    margin-top: 10px;
}

